.sunnybg{
    width: 25%;
    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    margin-top: 25px;
    border-radius: 6px;
    background-image: url(/assets/images/climate/sunnybg.jpg);
    background-size: cover;
}
.cloudybg{
    width: 25%;

    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    margin-top: 25px;
    border-radius: 6px;
    background-image: url(/assets/images/climate/cloudybg.jpg);
    background-size: cover;

}
.rainybg{
    width: 25%;

    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    margin-top: 25px;
    border-radius: 6px;
    background-image: url(/assets/images/climate/rainybg.jpg);
    background-size: cover;
}
.windybg{
    width: 25%;

    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    margin-top: 25px;
    border-radius: 6px;
    background-image: url(/assets/images/climate/windybg.jpg);
    background-size: cover;
}
.snowybg{
    width: 25%;

    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    margin-top: 25px;
    border-radius: 6px;
    background-image: url(/assets/images/climate/snowybg.jpg);
    background-size: cover;
}
.stormybg{
    width: 25%;

    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    margin-top: 25px;
    border-radius: 6px;
    background-image: url(/assets/images/climate/stormybg.jpg);
    background-size: cover;
}