body{
background-color: #101318;
overflow-y:hidden!important;
overflow-x:hidden!important;
}
.sections{
    min-height: 92vh;
    color: #b2c5c0;
    font-family: 'Inter Tight', sans-serif;
}
// Login
.section-title{
    padding: 25px;
    font-size: 33px;
}
.login{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0a1022;
    background-image: url(/assets/images/login-wallpaper.jpg);
    background-size: cover; 
    top: 0;
    left: 0;
    padding-top: 25px;

    &-window{
        position: relative;
        width: 70%;
        height: 90%;
        margin: auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgba(0,0,0,0.90);
        box-shadow: 8px 8px 6px 2px rgba(0,0,0,0.30);
        border-radius: 15px;
    }
    &-window-logo{
        margin: auto;
        img{
            border-radius: 3px;
        }
    }
    &-window-form{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-flow: column;
        text-align: center;
        h2{
            margin-bottom: 25px;
        }
        label{
            font-family: 'Inter Tight', sans-serif;
            font-weight: 600;
        }
        input{
            width: 70%;
            height: 22px;
            border-radius: 3px;
        }
        button{
            border: none;
            width: 50%; 
            height: 35px;
            margin-top: 15px;
            font-size: 18px;
            color: #b2c5c0;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.1);
            ;       
        }
    }
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .login-window {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.5);  
    }
    .warning {
      display: none;
    }
  }
// Dashboard
.dashboard{
    @extend .sections;
    text-align: center;
    &-info{
        padding: 10px;

        &-cards{
            display: flex;
            justify-content: space-around;
            margin-bottom: 25px;

            :nth-child(2){
                background-color: #0a2214;
            }
            :nth-child(3){
                background-color: #220a0a;
            }
            :nth-child(4){
                background-color: #0a1022;
            }
        }
        &-card{
            border-radius: 6px;
            box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
            display: flex;
            flex-direction: column;
            padding: 13px;

            span{
              font-size: 25px;
              font-weight: 800;
              color: #01C38D;
            }
        }
    }
    &-climate{
    margin-bottom: 25px;
    &-info{
        display: flex;
        justify-content: space-around;
        
    }
    &-card{
        background-color: #202836;
        padding: 15px;
        box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
        margin-top: 25px;
        border-radius: 6px;
    }
    }
    &-taskmngr{
        h2{
            margin-bottom: 15px;
        }
        &-columns{
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
        &-input{
            margin: 25px;
            display: block;
            flex-direction: column;
            border-radius: 9px;
            input{
                height: 26px;
                margin: 16px;
                width: 80%;
                font-size: 22px;
                background-color: #363636;
                &:focus{
                background-color: #636363;
                }
            }
            button{
                margin: 8px;
                padding: 8px 16px;
                background-color: #101f06;
                box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
                border-radius: 9px;
                color: #b2c5c0;
                border: none;
            }   
        }
        &-output{    
            display: flex;
            flex-direction: column;
            &__card{
                  width: 90%;
                  display: grid;
                  grid-template-columns: 1fr 10fr 1fr;
                  text-align: left;
                  padding: 8px 5px;
                  background-color: #070a14;
                  color: #01C38D;
                  font-family: 'Inter Tight', sans-serif;
                  border-radius: 9px;
                  :first-child{
                    font-size: 22px;
                  }
                  p{
                    top: 4px;
                  }
            }
        }
    }
}

// Recepcion - CheckIn
.checkin{
    @extend .sections;
    text-align: center;
}