@media (max-width: 868px) {
    .login-window{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        &-logo img{
            height: 280px;
        }
    }
    .checkin-columns{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 420px) {
    .section{
        width: 100%;
    }
    .login-window{
        width: 95%;
    }
    
}
